.about-us-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.about-us-container2 {
  display: none;
}
 
.about-us-container3 {
  display: contents;
}
 
.about-us-container4 {
  display: none;
}
 
.about-us-container5 {
  display: contents;
}
