.home-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.home-hero-section {
  height: 836px;
  padding-bottom: 169px;
}
 
.home-hero-background {
  height: 832px;
}
 
.home-hero-background-image {
  width: 1920px;
  height: 994px;
}
 
.home-hero-overlay {
  height: 1013px;
}
 
.home-hero-container {
  width: 1307px;
  height: 887px;
  margin-left: 0px;
  padding-top: 150px;
  margin-right: 0px;
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: 0px;
  padding-bottom: 0px;
}
 
.home-hero-title {
  line-height: 1.4;
}
 
.home-services-card-image1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.home-services-card-image2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.home-services-card-image3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.home-services-card-image4 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.home-services-card-image5 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.home-services-card-image6 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.home-cta-overlay {
  height: 973px;
}
 
.home-container2 {
  display: none;
}
 
.home-container3 {
  display: contents;
}
 
@media(max-width: 1600px) {
  .home-hero-background-image {
    width: 1600px;
    height: 992px;
  }
  .home-hero-overlay {
    height: 1016px;
    padding-bottom: var(--dl-layout-space-unit);
  }
  .home-hero-container {
    width: 1150px;
    height: 983px;
    padding-top: 213px;
    margin-right: 0px;
    padding-left: 0px;
  }
  .home-hero-content {
    width: 1015px;
    height: 565px;
  }
}
 
@media(max-width: 991px) {
  .home-hero-background-image {
    width: 991px;
    height: 968px;
  }
  .home-hero-overlay {
    height: 967px;
  }
  .home-hero-container {
    width: 958px;
    height: 1126px;
  }
  .home-hero-content {
    width: 614px;
    height: 474px;
  }
  .home-hero-title {
    text-transform: capitalize;
  }
}
 
@media(max-width: 767px) {
  .home-hero-background-image {
    width: 759px;
    height: 794px;
  }
}
 
@media(max-width: 479px) {
  .home-hero-section {
    height: 785px;
    padding-bottom: 140px;
  }
  .home-hero-background {
    width: 479px;
    height: 716px;
  }
  .home-hero-background-image {
    width: 100%;
    height: 528px;
  }
  .home-hero-overlay {
    width: 479px;
    height: 716px;
    padding-bottom: 12px;
  }
  .home-hero-container {
    width: 455px;
    height: 722px;
    padding-top: 90px;
    padding-left: 5px;
    padding-right: 4px;
  }
  .home-hero-content {
    width: 376px;
    height: 415px;
  }
  .home-hero-title {
    width: 428px;
    height: 293px;
    line-height: 1.4;
  }
  .home-hero-subtitle {
    width: 346px;
    height: 132px;
  }
  .home-hero-values {
    width: 263px;
    height: 100px;
  }
  .home-hero-value-item1 {
    width: 350px;
    height: 49px;
  }
  .home-hero-value-item3 {
    width: 329px;
    height: 67px;
  }
  .home-about-section {
    height: 1623px;
    padding-top: 67px;
  }
}
