.programs-activities-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.programs-activities-container4 {
  display: none;
}
 
.programs-activities-container5 {
  display: contents;
}
