.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-brand-section-elm {
  width: 506px;
  height: 249px;
}
 
.footer-thq-footer-social-primary-elm {
  width: 544px;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
 
.footer-container4 {
  display: none;
}
 
.footer-container5 {
  display: contents;
}
