.navigation-container1 {
  display: contents;
}
 
.navigation-navigation-toggle-icon {
  width: 32px;
  height: 32px;
}
 
.navigation-navigation-mobile-close-icon {
  width: 32px;
  height: 32px;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
